* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------- COLORS -------- */
:root {
  --white: #f4f4f4;
  --black: #1a1a1a;
  --pink: #f7aea8;
  --yellow: #ffffa1;
  --green: #52ab7a;
}

/* -------- FONTS -------- */
@font-face {
  font-family: Alegraya;
  src: url("../ressources/fonts/Alegreya/Alegreya-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Astloch;
  src: url("../ressources/fonts/Astloch/Astloch-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../ressources/fonts/Roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../ressources/fonts/Roboto/Roboto-Bold.ttf");
  font-display: swap;
}

/* -------- ANIMATIONS -------- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes landing {
  0% {
    opacity: 0;
    right: -120px;
  }
  100% {
    opacity: 1;
    right: 20px;
  }
}

/* -------- OVERALL STYLING -------- */
main {
  overflow: hidden;
  overscroll-behavior: none;
}

h1 {
  font-family: Astloch;
  font-size: 120px;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

p {
  font-family: Roboto;
  font-size: 48px;
  text-align: center;
  grid-column: 2/3;
  grid-row: 4/5;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 5px solid var(--white);
  width: 170px;
  height: 60px;
  background: transparent;
  cursor: pointer;
  font-family: Roboto-Bold;
  font-size: 20px;
  color: var(--white);
  grid-column: 2/3;
  grid-row: 5/6;
  justify-self: center;
  align-self: center;
  opacity: 0;
  transition: opacity 1.5s;
}

.highlight {
  color: var(--yellow);
}

.svg {
  height: 35vh;
  justify-self: center;
  align-self: center;
  opacity: 0;
  transition: opacity 1s;
}

/* -------- MENU -------- */
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--pink);
  position: fixed;
  top: 20px;
  right: 20px;
  animation: landing 2s ease-in-out;
}
.logo {
  cursor: pointer;
  z-index: 3;
}

.menu {
  z-index: 2;
}

.items {
  color: transparent;
  cursor: default;
  pointer-events: none;
  position: fixed;
  z-index: 2;
}

.item {
  font-size: 140px;
  text-align: center;
  opacity: 1;
}

/* -------- PAGE-1 -------- */
.page-1 {
  height: 200vh;
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 2fr;
  grid-template-rows: 1fr 4fr 2fr 2fr;
}

.stars {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  animation: fade-in 1.5s ease-in-out infinite alternate;
}

.title {
  font-family: Alegraya;
  grid-column: 2/3;
  align-self: start;
}

.title-1 {
  animation: fade-in 2s ease-in-out;
}

.title-2 {
  font-family: Astloch;
  color: var(--pink);
  animation: fade-in 2s ease-in-out;
}

.picture {
  height: 480px;
  border-radius: 30px;
  grid-column: 3/4;
  grid-row: 2/3;
  opacity: 0;
  transition: opacity 0.25s;
}

.bw {
  transform-style: preserve-3d;
  animation: fade-in 1s ease-in-out;
}

.color {
  animation: fade-in 3s ease-in-out;
}

.intro {
  font-size: 48px;
  grid-column: 2/4;
  grid-row: 3/4;
  align-self: end;
  opacity: 0;
  transition: opacity 1.5s;
}

.job {
  border-radius: 30px;
  color: var(--black);
  background-color: var(--white);
  animation: fade-in 1.5s ease-in-out infinite alternate;
}

/* -------- PAGE-2 -------- */
.page-2 {
  height: 150vh;
  background-color: var(--white);
  color: var(--black);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 4fr 2fr 1fr;
}

.boom {
  grid-column: 1/2;
  grid-row: 4/5;
}

.antic {
  grid-column: 3/4;
  grid-row: 4/5;
}

.school {
  border-radius: 30px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

/* -------- PAGE-3 -------- */
.page-3 {
  height: 150vh;
  background-color: var(--green);
  color: var(--white);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 4fr 2fr 1fr;
}

.shooting-star {
  grid-column: 1/2;
  grid-row: 4/5;
}

.games {
  grid-column: 3/4;
  grid-row: 4/5;
}

/* -------- PAGE-4 -------- */
.page-4 {
  height: 150vh;
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 4fr 2fr 1fr;
  z-index: -1;
}

.handshake {
  height: 20vh;
  transform: rotate(-30deg);
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: center;
}

.letter {
  height: 20vh;
  transform: rotate(15deg);
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: left;
}

.e-mail {
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--white);
  font-family: Astloch;
  color: var(--white);
  cursor: pointer;
}

.social-links {
  color: var(--white);
  grid-column: 2/3;
  grid-row: 6/7;
  justify-self: center;
  align-self: center;
}

.social-links img {
  padding: 0px 30px;
  cursor: pointer;
}

.resume {
  cursor: pointer;
  transform: translate(-250%);
}

.text {
  opacity: 0;
  transition: opacity 1.5s;
}

.scroll-opacity {
  opacity: 1;
}

/* -------- MEDIA QUERIES -------- */

/* Portrait orientation */
@media screen and (orientation: portrait) {
  .resume {
    width: 0%;
    grid-column: 1/4;
  }
  .items {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Landscape orientation */
@media screen and (orientation: landscape) {
  .resume {
    height: 0vh;
    grid-column: 2/3;
  }
  .items {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Max width of 1280px */
@media (max-width: 1280px) {
  h1 {
    font-size: 100px;
  }

  p,
  .intro {
    font-size: 36px;
  }

  .item {
    font-size: 120px;
  }

  .page-1 {
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 4fr 2fr 1fr;
  }

  .stars {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .title {
    display: none;
  }

  .picture {
    height: 480px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
  }

  .intro {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .svg {
    height: 15vh;
    justify-self: center;
    align-self: center;
  }

  .handshake img,
  .letter img {
    height: 10vh;
  }
}

/* Max width of 767px */
@media (max-width: 767px) {
  h1 {
    font-size: 60px;
  }

  p,
  .intro {
    font-size: 24px;
  }

  button {
    width: 127.5px;
    height: 45px;
    font-size: 15px;
  }

  .item {
    font-size: 54px;
  }

  .picture {
    height: 360px;
  }

  .svg {
    height: 20vw;
  }

  .stars {
    height: 5vh;
  }

  .handshake img,
  .letter img {
    height: 15vw;
  }

  .social-links img {
    padding: 0px 10px;
    width: 44px;
  }
}

/* Max width of 896px in landscape mode*/
@media (max-width: 896px) and (orientation: landscape) {
  h1,
  .item {
    font-size: 60px;
  }

  p,
  .intro {
    font-size: 24px;
  }

  button {
    width: 85px;
    height: 30px;
    font-size: 10px;
  }

  .picture {
    height: 230px;
  }

  .svg {
    height: 15vw;
  }

  .stars,
  .handshake img,
  .letter img {
    height: 10vw;
  }
}

/* Max width of 300px */
@media (max-width: 300px) {
  h1,
  .item {
    font-size: 36px;
  }

  p,
  .intro {
    font-size: 16px;
  }

  button {
    width: 85px;
    height: 30px;
    font-size: 10px;
  }

  .picture {
    height: 160px;
  }

  .stars {
    height: 15vh;
  }

  .social-links img {
    padding: 0px 5px;
    width: 24px;
  }
}
